body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #000000;
}

h1, h2, h3, h4 {
    color: #0d134c;
}

div[data-testid="stForm"] {
    background-color: #f9f9f9;
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.05);
}

.centered-box {
    max-width: 900px;
    margin: 0 auto;
}

.centered-result {
    max-width: 700px;
    margin: 2rem auto;
    background-color: #f5f5f5;
    padding: 1.5rem;
    border-radius: 10px;
    color: #0d134c;
    font-weight: 500;
    box-shadow: 0 0 10px rgba(0,0,0,0.08);
}

.centered-box {
    max-width: 900px;
    margin: 0 auto;
}

/* Corrige inputs, radio buttons, selects etc. no modo claro */

input, select, textarea {
    background-color: #ffffff !important;
    color: #000000 !important;
    border: 1px solid #ccc !important;
}

div[data-baseweb="radio"] label {
    color: #000000 !important;
}

button[kind="primary"] {
    background-color: #0d134c !important;
    color: #ffffff !important;
    border: none !important;
}

button[kind="primary"]:hover {
    background-color: #172171 !important;
}

